.event-content {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    line-height: 0em;
    margin-top: 36px;
}

.event-photo {
    background: linear-gradient(180deg, #0071D9 0%, #00B2FF 100%);
    width: 360px;
    height: 360px;
    border-radius: 20px;
}

.event-photo img {
    width: 360px;
    height: 360px;
    border-radius: 20px;    
}

.event-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 20px;
}

.event-name {
    line-height:1.5;
}

.event-organizer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .event-organizer-photo {
    background: linear-gradient(180deg, #0071D9 0%, #00B2FF 100%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 50px;
 }
.event-organizer-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50px; 
}

.event-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-text h3 {
    margin-right: 16px;
}

.section-icon{
    margin-top: 16px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .event-content {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
    }
    .event-photo {
        width: 100px;
        height: 100px;
        border-radius: 16px;
        margin-bottom: 8px;
    }
    .event-info {
        font-size: 12px;
        margin-left: 16px;
    }
    .section-title {
        font-size: 16px;
        margin-top: 18px;
    }
    .section-icon{
        width: 12px;
        height: 16px;
        margin-top: 4px;
        margin-left: 10px;
    }
}