<div class="form-area">
    <h3 class="login-title">Увійти <br> у Franko Campus</h3>
    <form action="submit_form" method="post"></form>
        <input class="input-wrapper" type="email" id="email" name="email" placeholder="Ваша пошта" required>
        <input class="input-wrapper" type="password" id="password" name="password" placeholder="Ваш пароль" required>
        <button class="login-button" type="submit">Увійти</button>
    </form>
    <p class="text-link">Не маєтете акаунту? <a href="signin.html" class="link">Зареєструватись</a></p>
</div>