<div class="form-area">
    <h3 class="login-title">Зареєструватись<br> у Franko Campus</h3>
    <form action="submit_form" method="post"></form>
        <input class="input-wrapper" type="name" id="name" name="name" placeholder="Ім'я та Прізвище" required>
        <input class="input-wrapper" type="email" id="email" name="email" placeholder="Пошта" required>
        <input class="input-wrapper" type="password" id="password" name="password" placeholder="Пароль" required>
        <input class="input-wrapper" type="password" id="password" name="password" placeholder="Пароль ще раз" required>
        <button class="signin-button" type="submit">Зареєструватись</button>
    </form>
    <p class="text-link">Вже маєтете акаунту? <a href="login.html" class="link">Увійти</a></p>
</div>