@import url(css/header.css);
@import url(css/form.css);
@import url(css/cards.css);
@import url(css/profile.css);
@import url(css/addEvent.css);
@import url(css/event.css);
@import url(css/iconDesc.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    font-size: 18px;
    line-height: 1.5em;
    color: #2C2C2C;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}